.complaintCard{
  padding: 20px;
  width: 85%;
 border-radius: 15px;
  
  background-color: #e6e6e6;
}

.complaintBody{
  margin: 8px;
}

.complaintDate{
  color: #808080;
  font-size: smaller;
}

.complaintTitle{
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 110px;
}

.complaintMedia{
  border-radius: 6px;
}

.complaintDescription, .noImageComplaintDescription {
  text-align: justify;
}

.complaintDescription:hover{
  cursor: pointer;
}

.complaintFeedback{
  text-align: justify;
}

.positiveComplaintVote{
  color: green;
}

.negativeComplaintVote{
  color: red;
}

