.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.user-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.user-container h1:first-child {
  margin-top: 0;
}

.info {
  border: 2px solid #ccc;
  padding: 60px;
  border-radius: 10px;
  max-width: 600px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.info:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.info p {
  font-size: 40px;
  margin: 0;
}
.user{
  display: 'inline-block'
}

.update-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}

.update-button:hover {
  background-color: #0062cc;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}

.delete-button:hover {
  background-color: #c82333;
}