.details {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .info {
    border: 2px solid #ccc;
    padding: 60px;
    border-radius: 10px;
    max-width: 1000px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }